.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app button:hover {
  scale: 1.01;
  filter: brightness(1.1);
}

.app button:active {
  scale: 0.99;
  filter: brightness(0.8);
}